@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

#root {

    background-color: hsl(185, 41%, 84%);
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
@media (max-width: 800px) {
    #root {
   padding:15% 0;
   height: 150vh;
    }
  }
  